footer{
     margin-top: 10px;
     position: absolute;
     bottom: 0;
     padding: 10px 0px 10px 0px;
     margin-bottom: 0px;
     width: 100%;
     background-color: white;
}

footer p{
     font-family: 'Open Sans', sans-serif;
     font-weight: bold;
     text-align: center;
}